@font-face{font-family:'Rajdhani';font-style:normal;font-weight:700;font-display:swap;src:url('fonts/rajdhani700.ttf') format('truetype')}
@font-face{font-family:'Lexend';font-style:normal;font-weight:400;font-display:swap;src:url('fonts/lexend400.ttf') format('truetype')}
@font-face{font-family:'Lexend';font-style:normal;font-weight:600;font-display:swap;src:url('fonts/lexend600.ttf') format('truetype')}
@font-face{font-family:'Lexend';font-style:normal;font-weight:700;font-display:swap;src:url('fonts/lexend700.ttf') format('truetype')}
